//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.09 Education
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18C
//Created Time: Thu 03 09 16:35:12 2023

IO_LOC "sclk" A11;
IO_PORT "sclk" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "csn[1]" L9;
IO_PORT "csn[1]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "csn[0]" N7;
IO_PORT "csn[0]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "leds[5]" L16;
IO_PORT "leds[5]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "leds[4]" L14;
IO_PORT "leds[4]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "leds[3]" N14;
IO_PORT "leds[3]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "leds[2]" N16;
IO_PORT "leds[2]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "leds[1]" A13;
IO_PORT "leds[1]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "leds[0]" C13;
IO_PORT "leds[0]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "q_o[3]" D11;
IO_PORT "q_o[3]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "q_o[2]" N6;
IO_PORT "q_o[2]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "q_o[1]" N9;
IO_PORT "q_o[1]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "q_o[0]" B11;
IO_PORT "q_o[0]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC "keys[4]" C7;
IO_PORT "keys[4]" IO_TYPE=LVTTL33 PULL_MODE=UP;
IO_LOC "keys[3]" D7;
IO_PORT "keys[3]" IO_TYPE=LVTTL33 PULL_MODE=UP;
IO_LOC "keys[2]" T2;
IO_PORT "keys[2]" IO_TYPE=LVTTL33 PULL_MODE=UP;
IO_LOC "keys[1]" T3;
IO_PORT "keys[1]" IO_TYPE=LVTTL33 PULL_MODE=UP;
IO_LOC "keys[0]" T10;
IO_PORT "keys[0]" IO_TYPE=LVTTL33 PULL_MODE=UP;
IO_LOC "clk" H11;
IO_PORT "clk" IO_TYPE=LVTTL33 PULL_MODE=UP;
